
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_layout.cshtml";
}
<div id="Main">
    <div class="row">



    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="text-center">
                <input class="btn btn-default" type="button" title="Компании" value="Компании" onclick="location.href = '@Url.Action("ShowCompanys","Home")'" />
                <input class="btn btn-default" type="button" title="Сотрудники" value="Сотрудники" onclick="location.href='@Url.Action("ShowEmployees","Home")'" /><!--ShowEmployee?id=1-->
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>


